@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  color: orangered;
  text-decoration: underline 2px;
}
.nl:hover{
  color: orangered;
  text-decoration: underline 2px;
}
.borRadius{
  border-radius: 0px 200px 200px 200px;
}
.thumbs-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgImg{
  background-image: url('../src/assets//home/featured.jpg');
 
}