.active{
  color: orangered;
  text-decoration: underline 2px;
}
/* .nl:hover{
  color: orangered;
  text-decoration: underline 2px;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}